
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-pokemon-bg {
  background-image: url("https://i.imgflip.com/5bancw.png"); /* Fondo temático de Pokémon */
  background-size: cover;
  background-position: center;
}


:root {

  --pokemon-yellow: #FFCB05; /* Amarillo clásico de Pokémon */

}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-pokemon-yellow {
  background-color: var(--pokemon-yellow);
}



